<div class="menu-item">
  <img class="menu-item__image" [src]="img" />

  <div class="menu-item__content">
    <header class="menu-item__header">
      <button
        class="menu-item__btn menu-item__btn--decrease"
        [class.menu-item__btn--inactive]="quantity() === 0"
        [disabled]="quantity() === 0"
        (click)="remove()"
      >
        -
      </button>
      <button class="menu-item__btn menu-item__btn--increase" (click)="add()">+</button>
    </header>

    <article class="menu-item__title">
      {{name}}
    </article>

    <footer class="menu-item__footer">
      <div class="menu-item__category">{{category}}</div>
      <div class="menu-item__price">
        <span class="menu-item__currency">S/.</span> {{price}}
      </div>
    </footer>
  </div>
</div>

