<div class="menu-summary">
  <h3>Resumen</h3>

  <ul class="menu-summary__items">
    @for (item of cart.items(); track $index) {
      <li>
      <span>{{ item.item.name }} (x{{ item.quantity }})</span>
      <span>S/. {{ item.item.price * item.quantity }}</span>
    </li>
    }
  </ul>

  @if(cart.totalQuantity() >0){
    <div class="menu-summary__footer">
      <div class="total">
        <span>Total:</span>
        <strong>S/. {{ cart.totalPrice() }}</strong>
      </div>
      <button class="menu-summary__btn" (click)="realizarPedido()">Realizar pedido</button>
    </div>
  }


</div>
